<div class="sec1" >
    <div class="container">

      <div class="row ">
       
       <div class="col-md-4">
        
           <div class="card mt">
               <div class="card-header">
                 Node js
               </div>
               <div class="card-body">
                 <h5 class="card-title">Documentation</h5>
                 <p class="card-text text-white">learn node js </p>
                 <a href="https://nodejs.org/en/docs/"  target="_blank" class="btn btn-outline-primary">Learn</a>
                 
               </div>
             </div>

       </div>
       <div class="col-md-4">
        
           <div class="card">
               <div class="card-header">
                 express js
               </div>
               <div class="card-body">
                 <h5 class="card-title">Documentation</h5>
                 <p class="card-text text-white">learn express js </p>
                 <a href="http://expressjs.com/" target="_blank"  class="btn btn-outline-primary">Learn</a>
               </div>
             </div>

       </div>
       <div class="col-md-4">
        
           <div class="card">
               <div class="card-header">
                 MongoDb
               </div>
               <div class="card-body">
                 <h5 class="card-title">Documentation</h5>
                 <p class="card-text text-white">learn MongoDb</p>
                 <a href="https://docs.mongodb.com/manual/core/document/" target="_blank"  class="btn btn-outline-primary" >Learn</a>
               </div>
             </div>

       </div>
      </div>
    
     </div>
   </div>
