<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="about">
        <div class="container">
          <div class="jumbotron">
              <h1 class="display-4 text-danger">Ehh ! you have an error! </h1>
               <p class="text-warning">
                  
                   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum maiores omnis enim magni eos provident, ipsam quidem quo nam dicta eveniet incidunt itaque accusantium, voluptatem veniam consequuntur explicabo est corrupti.
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit recusandae architecto officia soluta facilis quibusdam earum laudantium cumque debitis deserunt, obcaecati ex dolore culpa error neque numquam. Iste, aspernatur sint.
                   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime ab optio voluptas praesentium, totam nam soluta quisquam consequatur voluptate labore, quas minus dolor cumque, provident aliquid molestiae veniam animi vitae.

               </p>
            </div>
           

        </div>
    </div>
    
</body>
</html>