<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        
        <div class="about">
            <div class="container">
              <div class="jumbotron">
                  <h1 class="display-4 text-white">Hello, world!</h1>
                   <p class="text-warning">
                       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit eius harum consequuntur eveniet earum, aut blanditiis magnam officia quae porro ut, aspernatur dignissimos, eaque dolor veniam nostrum tempore? Consequatur, maiores.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod obcaecati quis illum adipisci architecto vitae. Officia reiciendis enim modi unde provident quasi quaerat distinctio nisi vel praesentium, aliquam labore deserunt.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime omnis dolore, eos esse aspernatur officia optio reprehenderit. Error ipsum aperiam reiciendis expedita nisi reprehenderit placeat dignissimos eveniet odio asperiores? Eveniet!
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam nesciunt blanditiis adipisci sit! Sequi, dolorem corporis eum totam aut laborum veniam odio, ut at aliquid alias debitis non quo
                       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est magni officiis molestias ipsum. Omnis voluptas modi consequuntur? Ab iste perferendis sequi, impedit veritatis ut temporibus deserunt, aperiam voluptas aspernatur doloremque.
                       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum maiores omnis enim magni eos provident, ipsam quidem quo nam dicta eveniet incidunt itaque accusantium, voluptatem veniam consequuntur explicabo est corrupti.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit recusandae architecto officia soluta facilis quibusdam earum laudantium cumque debitis deserunt, obcaecati ex dolore culpa error neque numquam. Iste, aspernatur sint.
                       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime ab optio voluptas praesentium, totam nam soluta quisquam consequatur voluptate labore, quas minus dolor cumque, provident aliquid molestiae veniam animi vitae.
  
                   </p>
                </div>
               
  
            </div>
        </div>


    
</body>
</html>